body {
  max-width: 1120px;
  margin: 0 auto;
}
nav ul {
  padding-left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}
nav li {
  cursor: pointer;
  list-style: none;
  padding: 1ex;
}
section {
  display: none;
}
header {
  text-align: center;
}
.sectionActive {
  display: block;
}
.navActive {
  background-color: lightblue;
}
