.divecard {
  margin: 16px;
  padding: 8px 24px;
  background-color: #039BE5; /* Orange 800 */
}

.divecard.longest {
  background-color: #311B92; /* Deep purple 900 */
}

.divecard.deepest {
  background-color: #6200EA; /* Deep purple A700 */
}

.divecard h2 {
  color: white;
  font-weight: 500;
  font-size: 1.75em;
}

.divecard h1, .divecard h3 {
  font-weight: 200;
  color: #ECEFF1; /* Grey 50 */
}
.divecard h1 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 16px;
}

.divecard h3 {
  margin: 0;
  font-size: 1.25em;
}
