html
  height: 100%;
body
  background-color: lightblue
  font: 12px Helvetica, Arial, sans-serif
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  text-align: center
  height: 100%
  font-size: 16px
button
  border: 1px solid white
  background-color: darkseagreen
  height: 44px
  border-radius: 33px
  padding: 0 1em
