.center {
  text-align: center;
}
.description {
  text-align: left;
  width: 40%;
  margin: 0 auto;
}
.tabContent {
  min-height: 200px;
}
@media (max-width: 750px) {
  .description {
    width: 87%;
  }
}
