.center {
  text-align: center;
}
.description {
  text-align: left;
  width: 40%;
  margin: 0 auto;
}
.tabContent {
  min-height: 200px;
}
@media (max-width: 750px) {
  .description {
    width: 87%;
  }
}
.aboutMe {
  background-color: rgb(40,40,40);
  padding-top: 1%;
}
.icon {
  height: 50px;
  width: 50px;
}
